<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.huafeng_serve.modules.ziliao.mapper.ZiliaoMapper">
    <select id="selectByPage" resultType="com.example.huafeng_serve.modules.ziliao.entity.Ziliao">
        SELECT e.id,
               e.classname,
               e.desc,
               e.dowlondurl
        FROM ziliao AS e
    </select>
</mapper>